In [21]:
import uuid
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import my_connector
from datetime import datetime
from my_connector import MySQLConnector

In [22]:
df = pd.read_csv("Datasets/Data_Combinada.csv", low_memory=False)

In [23]:
df.head(10)

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,H,NaN,NaN,"441155,351","4474129,588",1.0,0.0,3,No
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,M,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,H,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No
5,2022S000003,01/01/2022,1:50:00,"CALL. SAN BERNARDO, 53",53,1.0,CENTRO,Atropello a persona,Despejado,Motocicleta > 125cc,...,Desconocido,H,NaN,NaN,"439995,351","4475212,523",0.0,0.0,2,No
6,2022S000003,01/01/2022,1:50:00,"CALL. SAN BERNARDO, 53",53,1.0,CENTRO,Atropello a persona,Despejado,Motocicleta > 125cc,...,De 18 a 20 años,M,7.0,Asistencia sanitaria sólo en el lugar del acci...,"439995,351","4475212,523",0.0,0.0,2,No
7,2022S000004,01/01/2022,3:40:00,CALL. ALCALA / PLAZA. EISENHOWER,728,20.0,SAN BLAS-CANILLEJAS,Choque contra obstáculo fijo,Despejado,Turismo,...,De 50 a 54 años,H,2.0,Ingreso inferior o igual a 24 horas,"449693,925","4477837,552",0.0,0.0,2,No
8,2022S000004,01/01/2022,3:40:00,CALL. ALCALA / PLAZA. EISENHOWER,728,20.0,SAN BLAS-CANILLEJAS,Choque contra obstáculo fijo,Despejado,Turismo,...,De 55 a 59 años,M,3.0,Ingreso superior a 24 horas,"449693,925","4477837,552",0.0,0.0,2,No
9,2022S000005,01/01/2022,4:30:00,"AUTOV. A-42, +00500E",+00500E,12.0,USERA,Choque contra obstáculo fijo,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"438952,303","4469985,021",1.0,0.0,2,No

-- Creación de la tabla de Distritos
CREATE TABLE Distritos (
    distrito_id INT PRIMARY KEY,
    codigo_distrito VARCHAR(255),
    nombre_distrito VARCHAR(255)
);

-- Creación de la tabla de Direcciones
CREATE TABLE Direcciones (
    direccion_id INT PRIMARY KEY,
    calle VARCHAR(255),
    numero INT
);

-- Creación de la tabla de Accidentes
CREATE TABLE Accidentes (
    num_expediente VARCHAR(255) PRIMARY KEY,
    fecha DATE,
    hora TIME,
    direccion_id INT,
    distrito_id INT,
    tipo_accidente VARCHAR(255),
    estado_meteorologico VARCHAR(255),
    coordenada_x_utm VARCHAR(255),
    coordenada_y_utm VARCHAR(255),
    positivo_alcohol BOOLEAN,
    positivo_droga BOOLEAN,
    fugado BOOLEAN,
    FOREIGN KEY (direccion_id) REFERENCES Direcciones(direccion_id),
    FOREIGN KEY (distrito_id) REFERENCES Distritos(distrito_id)
);

-- Creación de la tabla de Personas Involucradas en Accidentes
CREATE TABLE PersonasInvolucradas (
    id INT PRIMARY KEY,
    num_expediente VARCHAR(255),
    tipo_vehiculo VARCHAR(255),
    tipo_persona VARCHAR(255),
    rango_edad VARCHAR(255),
    sexo CHAR(1),
    codigo_lesividad INT,
    lesividad VARCHAR(255),
    numero_pasajeros INT,
    FOREIGN KEY (num_expediente) REFERENCES Accidentes(num_expediente)
);

Calculamos el máximo para dimensionar correctamente la base de datos

In [24]:
df['num_expediente'].max()

'2023S029136'

In [25]:
connector = MySQLConnector('localhost', 'root', 'root', 'TNT')
connector.connect()

Connected to MySQL database.

In [26]:
cod_distrito_unique = df['cod_distrito'].unique()
distrito_unique = df['distrito'].unique()
emparejados = {cod: dist for cod, dist in zip(cod_distrito_unique, distrito_unique)}

In [41]:
for cod, dist in emparejados.items():
    distrito_query = f"""
        INSERT INTO Distritos (codigo_distrito, nombre_distrito) VALUES ('{cod}', '{dist}')
        """

    connector.execute_query(distrito_query)

distrito_query = f"""
        INSERT INTO Distritos (codigo_distrito, nombre_distrito) VALUES ('0', 'DESCONOCIDO')
        """
connector.execute_query(distrito_query)

Error:  1062 (23000): Duplicate entry '13' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '3' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '1' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '20' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '12' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '7' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '14' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '10' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '16' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '2' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '11' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '6' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '15' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '17' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '4' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '19' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '8' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '18' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '5' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '9' for key 'Distritos.PRIMARY'
Error:  1062 (23000): Duplicate entry '21' for key 'Distritos.PRIMARY'
Query executed successfully.

In [28]:
df

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,NaN,NaN,"443359,226","4472082,272",0.0,0.0,2,No
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,H,NaN,NaN,"441155,351","4474129,588",1.0,0.0,3,No
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,M,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,H,NaN,NaN,"441155,351","4474129,588",0.0,0.0,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74956,2023S028337,31/08/2023,23:20:00,"CALL. GOLFO DE SALONICA, 12",12,16.0,HORTALEZA,Otro,Despejado,Turismo,...,De 55 a 59 años,M,14.0,Sin asistencia sanitaria,443580.365,4480912.376,0.0,0.0,3,No
74957,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Motocicleta hasta 125cc,...,De 30 a 34 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,440795.55,4471044.789,0.0,0.0,2,No
74958,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,14.0,Sin asistencia sanitaria,440795.55,4471044.789,0.0,0.0,2,No
74959,2023S028352,31/08/2023,14:40:00,"AUTOV. M-30, 00NC06",00NC06,5.0,CHAMARTÍN,Caída,Despejado,Motocicleta hasta 125cc,...,De 40 a 44 años,H,1.0,Atención en urgencias sin posterior ingreso,442825.5,4481003.193,0.0,0.0,1,No
74960,2023S029136,02/08/2023,22:10:00,"AVDA. CARDENAL HERRERA ORIA, 80",80,8.0,FUENCARRAL-EL PARDO,Choque contra obstáculo fijo,NaN,Turismo,...,De 35 a 39 años,H,NaN,NaN,441491.437,4482518.59,0.0,0.0,1,No

In [29]:
df['numero'].fillna('S/N', inplace=True)
df['tipo_vehiculo'].fillna('Desconocido', inplace=True)
df['lesividad'].fillna('Sin asistencia - Desconocido', inplace=True)
df['cod_lesividad'].fillna(0, inplace=True)

In [30]:
df

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
0,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 30 a 34 años,M,0.0,Sin asistencia - Desconocido,"443359,226","4472082,272",0.0,0.0,2,No
1,2022S000001,01/01/2022,1:30:00,"AVDA. ALBUFERA, 19",19,13.0,PUENTE DE VALLECAS,Alcance,Despejado,Turismo,...,De 45 a 49 años,H,0.0,Sin asistencia - Desconocido,"443359,226","4472082,272",0.0,0.0,2,No
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 30 a 34 años,H,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",1.0,0.0,3,No
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Motocicleta hasta 125cc,...,De 35 a 39 años,M,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",0.0,0.0,3,No
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,NaN,Turismo,...,De 40 a 44 años,H,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",0.0,0.0,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74956,2023S028337,31/08/2023,23:20:00,"CALL. GOLFO DE SALONICA, 12",12,16.0,HORTALEZA,Otro,Despejado,Turismo,...,De 55 a 59 años,M,14.0,Sin asistencia sanitaria,443580.365,4480912.376,0.0,0.0,3,No
74957,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Motocicleta hasta 125cc,...,De 30 a 34 años,H,7.0,Asistencia sanitaria sólo en el lugar del acci...,440795.55,4471044.789,0.0,0.0,2,No
74958,2023S028341,31/08/2023,22:30:00,CALLE SAN SERAPIO,1,12.0,USERA,Alcance,Despejado,Turismo,...,De 35 a 39 años,H,14.0,Sin asistencia sanitaria,440795.55,4471044.789,0.0,0.0,2,No
74959,2023S028352,31/08/2023,14:40:00,"AUTOV. M-30, 00NC06",00NC06,5.0,CHAMARTÍN,Caída,Despejado,Motocicleta hasta 125cc,...,De 40 a 44 años,H,1.0,Atención en urgencias sin posterior ingreso,442825.5,4481003.193,0.0,0.0,1,No
74960,2023S029136,02/08/2023,22:10:00,"AVDA. CARDENAL HERRERA ORIA, 80",80,8.0,FUENCARRAL-EL PARDO,Choque contra obstáculo fijo,NaN,Turismo,...,De 35 a 39 años,H,0.0,Sin asistencia - Desconocido,441491.437,4482518.59,0.0,0.0,1,No

In [31]:
df = df.sort_values(by=['fecha', 'hora']).ffill()

In [32]:
df = df.sort_values(by=['fecha', 'hora']).bfill()

In [33]:
df['fugado'].replace({'No': 0, 'Si': 1}, inplace=True)

In [34]:
df

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,distrito,tipo_accidente,estado_meteorológico,tipo_vehiculo,...,rango_edad,sexo,cod_lesividad,lesividad,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,numero_pasajeros,fugado
13,2022S000008,01/01/2022,0:25:00,"PLAZA. ENCUENTRO, 2",2,14.0,MORATALAZ,Choque contra obstáculo fijo,Despejado,Turismo,...,De 21 a 24 años,M,0.0,Sin asistencia - Desconocido,"444759,786","4472970,631",0.0,0.0,1,0
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,Despejado,Motocicleta hasta 125cc,...,De 30 a 34 años,H,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",1.0,0.0,3,0
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,Despejado,Motocicleta hasta 125cc,...,De 35 a 39 años,M,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",0.0,0.0,3,0
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO / PASEO. PRADO,2,3.0,RETIRO,Colisión fronto-lateral,Despejado,Turismo,...,De 40 a 44 años,H,0.0,Sin asistencia - Desconocido,"441155,351","4474129,588",0.0,0.0,3,0
165,2022S000088,01/01/2022,11:45:00,AVDA. VALLADOLID / PLAZA. REPUBLICA DE CHILE,10,9.0,MONCLOA-ARAVACA,Colisión lateral,Despejado,Turismo,...,De 30 a 34 años,M,0.0,Sin asistencia - Desconocido,"437731,276","4476176,535",0.0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44973,2022S041231,31/12/2022,6:25:00,"C/ JOSE ORTEGA Y GASSET, 40-42",40,4.0,SALAMANCA,Choque contra obstáculo fijo,Despejado,Turismo,...,De 30 a 34 años,H,0.0,Sin asistencia - Desconocido,"442441,878","4475706,049",0.0,0.0,3,0
44974,2022S041231,31/12/2022,6:25:00,"C/ JOSE ORTEGA Y GASSET, 40-42",40,4.0,SALAMANCA,Choque contra obstáculo fijo,Despejado,Turismo,...,Desconocido,H,0.0,Sin asistencia - Desconocido,"442441,878","4475706,049",0.0,0.0,3,0
44975,2022S041231,31/12/2022,6:25:00,"C/ JOSE ORTEGA Y GASSET, 40-42",40,4.0,SALAMANCA,Choque contra obstáculo fijo,Despejado,Turismo,...,De 45 a 49 años,H,0.0,Sin asistencia - Desconocido,"442441,878","4475706,049",0.0,0.0,3,0
45018,2022S041262,31/12/2022,6:50:00,"CALL. ENRIQUE GARCIA ALVAREZ, 11",11,18.0,VILLA DE VALLECAS,Choque contra obstáculo fijo,Despejado,Turismo,...,De 35 a 39 años,H,0.0,Sin asistencia - Desconocido,"447813,397","4470373,787",0.0,0.0,1,0
44977,2022S041234,31/12/2022,8:43:00,"CMNO. ANTIGUO VIEJO DE VICALVARO, FAROLA 172",0,14.0,MORATALAZ,Choque contra obstáculo fijo,Despejado,Motocicleta hasta 125cc,...,De 25 a 29 años,H,4.0,Fallecido 24 horas,"447542,066","4472949,642",0.0,0.0,1,0

In [35]:
df['localizacion'] = df['localizacion'].str.replace("/", '-').str.replace("'", "")
df['coordenada_y_utm'] = df['coordenada_y_utm'].str.replace(",", '.')
df['coordenada_x_utm'] = df['coordenada_x_utm'].str.replace(",", '.')

In [36]:
accidentes = df.filter(
    items=['num_expediente', 'fecha', 'hora', 'localizacion', 'numero', 'cod_distrito', 'tipo_accidente',
           'estado_meteorológico', 'coordenada_x_utm', 'coordenada_y_utm', 'positiva_alcohol', 'positiva_droga',
           'fugado'])
accidentes.head()

,num_expediente,fecha,hora,localizacion,numero,cod_distrito,tipo_accidente,estado_meteorológico,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,positiva_droga,fugado
13,2022S000008,01/01/2022,0:25:00,"PLAZA. ENCUENTRO, 2",2,14.0,Choque contra obstáculo fijo,Despejado,444759.786,4472970.631,0.0,0.0,0
2,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO - PASEO. PRADO,2,3.0,Colisión fronto-lateral,Despejado,441155.351,4474129.588,1.0,0.0,0
3,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO - PASEO. PRADO,2,3.0,Colisión fronto-lateral,Despejado,441155.351,4474129.588,0.0,0.0,0
4,2022S000002,01/01/2022,0:30:00,PLAZA. CANOVAS DEL CASTILLO - PASEO. PRADO,2,3.0,Colisión fronto-lateral,Despejado,441155.351,4474129.588,0.0,0.0,0
165,2022S000088,01/01/2022,11:45:00,AVDA. VALLADOLID - PLAZA. REPUBLICA DE CHILE,10,9.0,Colisión lateral,Despejado,437731.276,4476176.535,0.0,0.0,0

In [37]:
patron = r'\d{2}/\d{2}/\d{4}'

filas_con_formato_incorrecto = df[~df['fecha'].str.match(patron)]

In [38]:
filas_con_formato_incorrecto

Empty DataFrame
Columns: [num_expediente, fecha, hora, localizacion, numero, cod_distrito, distrito, tipo_accidente, estado_meteorológico, tipo_vehiculo, tipo_persona, rango_edad, sexo, cod_lesividad, lesividad, coordenada_x_utm, coordenada_y_utm, positiva_alcohol, positiva_droga, numero_pasajeros, fugado]
Index: []

[0 rows x 21 columns]

In [39]:
accidentes = accidentes.drop_duplicates(subset=['num_expediente'])

In [40]:
i = 0
for index, row in accidentes.iterrows():
    i = i + 1
    try:
        sql = f"""
        INSERT INTO Accidentes (num_expediente, fecha, hora, calle, numero, codigo_distrito, tipo_accidente, estado_meteorologico, coordenada_x_utm, coordenada_y_utm, positivo_alcohol, positivo_droga, fugado)
        VALUES ('{row['num_expediente']}', '{datetime.strptime(row['fecha'], "%d/%m/%Y")}', '{datetime.strptime(row['hora'], "%H:%M:%S")}', '{row['localizacion']}', '{row['numero']}', {row['cod_distrito']}, '{row['tipo_accidente']}', '{row['estado_meteorológico']}', '{float(row['coordenada_x_utm'])}', '{float(row['coordenada_y_utm'])}', {row['positiva_alcohol']}, {row['positiva_droga']}, {row['fugado']});
    """
        print(f"Current row index: {index}, count: {i}")
        connector.execute_query(sql)
    except Exception as e:
        print(e)

Current row index: 13, count: 1
Query executed successfully.
Current row index: 2, count: 2
Query executed successfully.
Current row index: 165, count: 3
Query executed successfully.
Current row index: 74, count: 4
Query executed successfully.
Current row index: 70, count: 5
Query executed successfully.
Current row index: 72, count: 6
Query executed successfully.
Current row index: 33, count: 7
Query executed successfully.
Current row index: 37, count: 8
Query executed successfully.
Current row index: 45, count: 9
Query executed successfully.
Current row index: 43, count: 10
Query executed successfully.
Current row index: 41, count: 11
Query executed successfully.
Current row index: 48, count: 12
Query executed successfully.
Current row index: 16, count: 13
Query executed successfully.
Current row index: 51, count: 14
Query executed successfully.
Current row index: 49, count: 15
Query executed successfully.
Current row index: 0, count: 16
Query executed successfully.
Current row index: 5, count: 17
Query executed successfully.
Current row index: 54, count: 18
Query executed successfully.
Current row index: 61, count: 19
Query executed successfully.
Current row index: 93, count: 20
Query executed successfully.
Current row index: 7, count: 21
Query executed successfully.
Current row index: 9, count: 22
Query executed successfully.
Current row index: 11, count: 23
Query executed successfully.
Current row index: 18, count: 24
Query executed successfully.
Current row index: 14, count: 25
Query executed successfully.
Current row index: 57, count: 26
Query executed successfully.
Current row index: 21, count: 27
Query executed successfully.
Current row index: 81, count: 28
Query executed successfully.
Current row index: 30, count: 29
Query executed successfully.
Current row index: 28, count: 30
Query executed successfully.
Current row index: 27, count: 31
Query executed successfully.
Current row index: 35, count: 32
Query executed successfully.
Current row index: 45110, count: 33
Query executed successfully.
Current row index: 45122, count: 34
Query executed successfully.
Current row index: 45123, count: 35
Query executed successfully.
Current row index: 45117, count: 36
Query executed successfully.
Current row index: 45171, count: 37
Query executed successfully.
Current row index: 45125, count: 38
Query executed successfully.
Current row index: 45127, count: 39
Query executed successfully.
Current row index: 45129, count: 40
Query executed successfully.
Current row index: 45134, count: 41
Query executed successfully.
Current row index: 45132, count: 42
Query executed successfully.
Current row index: 45137, count: 43
Query executed successfully.
Current row index: 45130, count: 44
Query executed successfully.
Current row index: 45100, count: 45
Query executed successfully.
Current row index: 45136, count: 46
Query executed successfully.
Current row index: 45143, count: 47
Query executed successfully.
Current row index: 45149, count: 48
Query executed successfully.
Current row index: 45065, count: 49
Query executed successfully.
Current row index: 45075, count: 50
Query executed successfully.
Current row index: 45072, count: 51
Query executed successfully.
Current row index: 45086, count: 52
Query executed successfully.
Current row index: 45152, count: 53
Query executed successfully.
Current row index: 45155, count: 54
Query executed successfully.
Current row index: 45157, count: 55
Query executed successfully.
Current row index: 45074, count: 56
Query executed successfully.
Current row index: 45077, count: 57
Query executed successfully.
Current row index: 45080, count: 58
Query executed successfully.
Current row index: 45082, count: 59
Query executed successfully.
Current row index: 45153, count: 60
Query executed successfully.
Current row index: 45083, count: 61
Query executed successfully.
Current row index: 45085, count: 62
Query executed successfully.
Current row index: 45091, count: 63
Query executed successfully.
Current row index: 45089, count: 64
Query executed successfully.
Current row index: 45114, count: 65
Query executed successfully.
Current row index: 45108, count: 66
Query executed successfully.
Current row index: 45113, count: 67
Query executed successfully.
Current row index: 45094, count: 68
Query executed successfully.
Current row index: 45097, count: 69
Query executed successfully.
Current row index: 45112, count: 70
Query executed successfully.
Current row index: 45105, count: 71
Query executed successfully.
Current row index: 45106, count: 72
Query executed successfully.
Current row index: 3445, count: 73
Query executed successfully.
Current row index: 3562, count: 74
Query executed successfully.
Current row index: 3784, count: 75
Query executed successfully.
Current row index: 3447, count: 76
Query executed successfully.
Current row index: 3448, count: 77
Query executed successfully.
Current row index: 3906, count: 78
Query executed successfully.
Current row index: 3452, count: 79
Query executed successfully.
Current row index: 3456, count: 80
Query executed successfully.
Current row index: 3450, count: 81
Query executed successfully.
Current row index: 3559, count: 82
Query executed successfully.
Current row index: 3460, count: 83
Query executed successfully.
Current row index: 3458, count: 84
Query executed successfully.
Current row index: 3584, count: 85
Query executed successfully.
Current row index: 3464, count: 86
Query executed successfully.
Current row index: 3530, count: 87
Query executed successfully.
Current row index: 3515, count: 88
Query executed successfully.
Current row index: 3471, count: 89
Query executed successfully.
Current row index: 3462, count: 90
Query executed successfully.
Current row index: 3468, count: 91
Query executed successfully.
Current row index: 3479, count: 92
Query executed successfully.
Current row index: 3494, count: 93
Query executed successfully.
Current row index: 3483, count: 94
Query executed successfully.
Current row index: 3472, count: 95
Query executed successfully.
Current row index: 3490, count: 96
Query executed successfully.
Current row index: 3481, count: 97
Query executed successfully.
Current row index: 3476, count: 98
Query executed successfully.
Current row index: 3525, count: 99
Query executed successfully.
Current row index: 3485, count: 100
Query executed successfully.
Current row index: 3496, count: 101
Query executed successfully.
Current row index: 3535, count: 102
Query executed successfully.
Current row index: 3521, count: 103
Query executed successfully.
Current row index: 3542, count: 104
Query executed successfully.
Current row index: 3489, count: 105
Query executed successfully.
Current row index: 3499, count: 106
Query executed successfully.
Current row index: 3510, count: 107
Query executed successfully.
Current row index: 3501, count: 108
Query executed successfully.
Current row index: 3492, count: 109
Query executed successfully.
Current row index: 3519, count: 110
Query executed successfully.
Current row index: 3506, count: 111
Query executed successfully.
Current row index: 3512, count: 112
Query executed successfully.
Current row index: 3612, count: 113
Query executed successfully.
Current row index: 3523, count: 114
Query executed successfully.
Current row index: 3517, count: 115
Query executed successfully.
Current row index: 3533, count: 116
Query executed successfully.
Current row index: 3417, count: 117
Query executed successfully.
Current row index: 3527, count: 118
Query executed successfully.
Current row index: 3536, count: 119
Query executed successfully.
Current row index: 3547, count: 120
Query executed successfully.
Current row index: 3532, count: 121
Query executed successfully.
Current row index: 3539, count: 122
Query executed successfully.
Current row index: 3665, count: 123
Query executed successfully.
Current row index: 3544, count: 124
Query executed successfully.
Current row index: 3548, count: 125
Query executed successfully.
Current row index: 3551, count: 126
Query executed successfully.
Current row index: 3679, count: 127
Query executed successfully.
Current row index: 3425, count: 128
Query executed successfully.
Current row index: 3431, count: 129
Query executed successfully.
Current row index: 3429, count: 130
Query executed successfully.
Current row index: 3439, count: 131
Query executed successfully.
Current row index: 3567, count: 132
Query executed successfully.
Current row index: 3442, count: 133
Query executed successfully.
Current row index: 3437, count: 134
Query executed successfully.
Current row index: 3454, count: 135
Query executed successfully.
Current row index: 48978, count: 136
Query executed successfully.
Current row index: 48976, count: 137
Query executed successfully.
Current row index: 48981, count: 138
Query executed successfully.
Current row index: 48984, count: 139
Query executed successfully.
Current row index: 48986, count: 140
Query executed successfully.
Current row index: 48982, count: 141
Query executed successfully.
Current row index: 48989, count: 142
Query executed successfully.
Current row index: 48991, count: 143
Query executed successfully.
Current row index: 48993, count: 144
Query executed successfully.
Current row index: 48995, count: 145
Query executed successfully.
Current row index: 48998, count: 146
Query executed successfully.
Current row index: 49008, count: 147
Query executed successfully.
Current row index: 49006, count: 148
Query executed successfully.
Current row index: 49000, count: 149
Query executed successfully.
Current row index: 49002, count: 150
Query executed successfully.
Current row index: 49106, count: 151
Query executed successfully.
Current row index: 49004, count: 152
Query executed successfully.
Current row index: 49119, count: 153
Query executed successfully.
Current row index: 49035, count: 154
Query executed successfully.
Current row index: 49045, count: 155
Query executed successfully.
Current row index: 49012, count: 156
Query executed successfully.
Current row index: 49021, count: 157
Query executed successfully.
Current row index: 49014, count: 158
Query executed successfully.
Current row index: 49010, count: 159
Query executed successfully.
Current row index: 49016, count: 160
Query executed successfully.
Current row index: 49025, count: 161
Query executed successfully.
Current row index: 49027, count: 162
Query executed successfully.
Current row index: 49058, count: 163
Query executed successfully.
Current row index: 49024, count: 164
Query executed successfully.
Current row index: 49032, count: 165
Query executed successfully.
Current row index: 49030, count: 166
Query executed successfully.
Current row index: 49038, count: 167
Query executed successfully.
Current row index: 49069, count: 168
Query executed successfully.
Current row index: 49037, count: 169
Query executed successfully.
Current row index: 49049, count: 170
Query executed successfully.
Current row index: 49040, count: 171
Query executed successfully.
Current row index: 49054, count: 172
Query executed successfully.
Current row index: 49060, count: 173
Query executed successfully.
Current row index: 49061, count: 174
Query executed successfully.
Current row index: 49051, count: 175
Query executed successfully.
Current row index: 49056, count: 176
Query executed successfully.
Current row index: 49070, count: 177
Query executed successfully.
Current row index: 49143, count: 178
Query executed successfully.
Current row index: 49075, count: 179
Query executed successfully.
Current row index: 49063, count: 180
Query executed successfully.
Current row index: 49080, count: 181
Query executed successfully.
Current row index: 49073, count: 182
Query executed successfully.
Current row index: 49067, count: 183
Query executed successfully.
Current row index: 49076, count: 184
Query executed successfully.
Current row index: 49078, count: 185
Query executed successfully.
Current row index: 49085, count: 186
Query executed successfully.
Current row index: 49082, count: 187
Query executed successfully.
Current row index: 48940, count: 188
Query executed successfully.
Current row index: 48946, count: 189
Query executed successfully.
Current row index: 48948, count: 190
Query executed successfully.
Current row index: 48952, count: 191
Query executed successfully.
Current row index: 48957, count: 192
Query executed successfully.
Current row index: 48969, count: 193
Query executed successfully.
Current row index: 48951, count: 194
Query executed successfully.
Current row index: 48955, count: 195
Query executed successfully.
Current row index: 48964, count: 196
Query executed successfully.
Current row index: 48980, count: 197
Query executed successfully.
Current row index: 48959, count: 198
Query executed successfully.
Current row index: 48971, count: 199
Query executed successfully.
Current row index: 48963, count: 200
Query executed successfully.
Current row index: 7119, count: 201
Query executed successfully.
Current row index: 7137, count: 202
Query executed successfully.
Current row index: 7126, count: 203
Query executed successfully.
Current row index: 7142, count: 204
Query executed successfully.
Current row index: 7148, count: 205
Query executed successfully.
Current row index: 7244, count: 206
Query executed successfully.
Current row index: 7133, count: 207
Query executed successfully.
Current row index: 7131, count: 208
Query executed successfully.
Current row index: 7251, count: 209
Query executed successfully.
Current row index: 7274, count: 210
Query executed successfully.
Current row index: 7135, count: 211
Query executed successfully.
Current row index: 7122, count: 212
Query executed successfully.
Current row index: 7138, count: 213
Query executed successfully.
Current row index: 7146, count: 214
Query executed successfully.
Current row index: 7247, count: 215
Query executed successfully.
Current row index: 7249, count: 216
Query executed successfully.
Current row index: 7150, count: 217
Query executed successfully.
Current row index: 7176, count: 218
Query executed successfully.
Current row index: 7238, count: 219
Query executed successfully.
Current row index: 7155, count: 220
Query executed successfully.
Current row index: 7194, count: 221
Query executed successfully.
Current row index: 7160, count: 222
Query executed successfully.
Current row index: 7178, count: 223
Query executed successfully.
Current row index: 7172, count: 224
Query executed successfully.
Current row index: 7174, count: 225
Query executed successfully.
Current row index: 7191, count: 226
Query executed successfully.
Current row index: 7164, count: 227
Query executed successfully.
Current row index: 7186, count: 228
Query executed successfully.
Current row index: 7227, count: 229
Query executed successfully.
Current row index: 7181, count: 230
Query executed successfully.
Current row index: 7206, count: 231
Query executed successfully.
Current row index: 7196, count: 232
Query executed successfully.
Current row index: 7200, count: 233
Query executed successfully.
Current row index: 7210, count: 234
Query executed successfully.
Current row index: 7202, count: 235
Query executed successfully.
Current row index: 7088, count: 236
Query executed successfully.
Current row index: 7091, count: 237
Query executed successfully.
Current row index: 7222, count: 238
Query executed successfully.
Current row index: 7677, count: 239
Query executed successfully.
Current row index: 7213, count: 240
Query executed successfully.
Current row index: 7224, count: 241
Query executed successfully.
Current row index: 7219, count: 242
Query executed successfully.
Current row index: 7292, count: 243
Query executed successfully.
Current row index: 7230, count: 244
Query executed successfully.
Current row index: 7232, count: 245
Query executed successfully.
Current row index: 7228, count: 246
Query executed successfully.
Current row index: 7236, count: 247
Query executed successfully.
Current row index: 7253, count: 248
Query executed successfully.
Current row index: 7121, count: 249
Query executed successfully.
Current row index: 7092, count: 250
Query executed successfully.
Current row index: 7095, count: 251
Query executed successfully.
Current row index: 7204, count: 252
Query executed successfully.
Current row index: 7102, count: 253
Query executed successfully.
Current row index: 7144, count: 254
Query executed successfully.
Current row index: 7097, count: 255
Query executed successfully.
Current row index: 7100, count: 256
Query executed successfully.
Current row index: 7124, count: 257
Query executed successfully.
Current row index: 7114, count: 258
Query executed successfully.
Current row index: 7109, count: 259
Query executed successfully.
Current row index: 7106, count: 260
Query executed successfully.
Current row index: 7140, count: 261
Query executed successfully.
Current row index: 7117, count: 262
Query executed successfully.
Current row index: 7104, count: 263
Query executed successfully.
Current row index: 7129, count: 264
Query executed successfully.
Current row index: 52583, count: 265
Query executed successfully.
Current row index: 52590, count: 266
Query executed successfully.
Current row index: 52641, count: 267
Query executed successfully.
Current row index: 52631, count: 268
Query executed successfully.
Current row index: 52648, count: 269
Query executed successfully.
Current row index: 52630, count: 270
Query executed successfully.
Current row index: 52635, count: 271
Query executed successfully.
Current row index: 52643, count: 272
Query executed successfully.
Current row index: 52633, count: 273
Query executed successfully.
Current row index: 52639, count: 274
Query executed successfully.
Current row index: 52637, count: 275
Query executed successfully.
Current row index: 52644, count: 276
Query executed successfully.
Current row index: 52653, count: 277
Query executed successfully.
Current row index: 52760, count: 278
Query executed successfully.
Current row index: 52646, count: 279
Query executed successfully.
Current row index: 52659, count: 280
Query executed successfully.
Current row index: 52651, count: 281
Query executed successfully.
Current row index: 52656, count: 282
Query executed successfully.
Current row index: 52663, count: 283
Query executed successfully.
Current row index: 52761, count: 284
Query executed successfully.
Current row index: 52661, count: 285
Query executed successfully.
Current row index: 52811, count: 286
Query executed successfully.
Current row index: 52682, count: 287
Query executed successfully.
Current row index: 52669, count: 288
Query executed successfully.
Current row index: 52691, count: 289
Query executed successfully.
Current row index: 52667, count: 290
Query executed successfully.
Current row index: 52665, count: 291
Query executed successfully.
Current row index: 52670, count: 292
Query executed successfully.
Current row index: 52676, count: 293
Query executed successfully.
Current row index: 52674, count: 294
Query executed successfully.
Current row index: 52680, count: 295
Query executed successfully.
Current row index: 52698, count: 296
Query executed successfully.
Current row index: 52678, count: 297
Query executed successfully.
Current row index: 52730, count: 298
Query executed successfully.
Current row index: 52688, count: 299
Query executed successfully.
Current row index: 52727, count: 300
Query executed successfully.
Current row index: 52702, count: 301
Query executed successfully.
Current row index: 52711, count: 302
Query executed successfully.
Current row index: 52685, count: 303
Query executed successfully.
Current row index: 52690, count: 304
Query executed successfully.
Current row index: 52724, count: 305
Query executed successfully.
Current row index: 52693, count: 306
Query executed successfully.
Current row index: 52696, count: 307
Query executed successfully.
Current row index: 52732, count: 308
Query executed successfully.