In [113]:
import pandas as pd
from my_connector import MySQLConnector

ModuleNotFoundError: No module named 'id'

# Limpieza

In [114]:
# noinspection SpellCheckingInspection
df_padron = pd.read_csv("Datasets/padron22.csv", low_memory=False, encoding='UTF-8')

In [115]:
df_padron.head(20)

,Ï»¿EJERICIO,COD_TIPO_PERSONA,TIPO_PERSONA,COD_DISTRITO,DISTRITO,COD_BARRIO,BARRIO,COD_TIPO_VEHICULO,TIPO_VEHICULO,ETIQUETA_MEDIOAMBIENTAL,CLASIFICACIÃN_AMBIENTAL,CUOTA,TIPO_CARBURANTE,AÃO_MATRICULACIÃN,CONTADOR
0,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,Tipo carburante desconocido,2013,1
1,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2006,1
2,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2007,1
3,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2009,1
4,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2015,1
5,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,--,Sin clasificaciÃ³n ambiental,149.0,DIESEL,2010,1
6,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,B,Etiqueta B,73.0,DIESEL,2015,1
7,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,B,Etiqueta B,149.0,DIESEL,2014,1
8,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,C,Etiqueta C,73.0,DIESEL,2018,2
9,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,C,Etiqueta C,149.0,DIESEL,2019,3
10,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,CA,CAMION,NaN,Sin distintivo Ambiental,73.0,DIESEL,1999,1
11,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,MT,MOTOCICLETA,--,Sin clasificaciÃ³n ambiental,7.0,Tipo carburante desconocido,Desconocido,11
12,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,MT,MOTOCICLETA,--,Sin clasificaciÃ³n ambiental,7.0,GASOLINA,2012,1
13,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,MT,MOTOCICLETA,--,Sin clasificaciÃ³n ambiental,12.0,Tipo carburante desconocido,Desconocido,4
14,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,MT,MOTOCICLETA,--,Sin clasificaciÃ³n ambiental,27.0,Tipo carburante desconocido,Desconocido,4
15,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,MT,MOTOCICLETA,--,Sin clasificaciÃ³n ambiental,60.0,Tipo carburante desconocido,Desconocido,4
16,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,RE,OTROS,--,Sin clasificaciÃ³n ambiental,50.0,Tipo carburante desconocido,1990,1
17,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,RE,OTROS,--,Sin clasificaciÃ³n ambiental,149.0,Tipo carburante desconocido,Desconocido,2
18,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,RE,OTROS,NaN,Sin distintivo Ambiental,0.0,Tipo carburante desconocido,2021,1
19,2022,E,Ente sin Personalidad Art 35.4,0,--,0,--,RE,OTROS,NaN,Sin distintivo Ambiental,149.0,Tipo carburante desconocido,2005,1

Tiramos las columnas que no podemos utilizar para cruzar con accidentalidad. Así como los datos repetidos

In [116]:
df_padron.drop(columns=['Ï»¿EJERICIO', 'DISTRITO', 'BARRIO', 'COD_BARRIO', 'CONTADOR'], inplace=True)

Arreglamos los códigos para que tengan sentido

In [117]:
cod_veh = df_padron['COD_TIPO_VEHICULO'].unique()
tipo_veh = df_padron['TIPO_VEHICULO'].unique()

In [118]:
cod_veh

array(['CA', 'MT', 'RE', 'TR', 'TU', 'CI', 'AU', 'SE'], dtype=object)

In [119]:
tipo_veh

array(['CAMION', 'MOTOCICLETA', 'OTROS', 'TURISMO'], dtype=object)

In [120]:
for row in zip(cod_veh, tipo_veh):
    print(row)

('CA', 'CAMION')
('MT', 'MOTOCICLETA')
('RE', 'OTROS')
('TR', 'TURISMO')

In [121]:
df_padron['COD_TIPO_VEHICULO'] = df_padron['COD_TIPO_VEHICULO'].replace({'CA': 'C', 'MT': 'M', 'RE': 'O', 'TR': 'T', 'TU': 'T'})

In [122]:
cod_veh = df_padron['COD_TIPO_VEHICULO'].unique()
tipo_veh = df_padron['TIPO_VEHICULO'].unique()
for row in zip(cod_veh, tipo_veh):
    print(row)

('C', 'CAMION')
('M', 'MOTOCICLETA')
('O', 'OTROS')
('T', 'TURISMO')

In [123]:
df_padron.pop('TIPO_VEHICULO').head()

0    CAMION
1    CAMION
2    CAMION
3    CAMION
4    CAMION
Name: TIPO_VEHICULO, dtype: object

In [124]:
df_padron.head()

,COD_TIPO_PERSONA,TIPO_PERSONA,COD_DISTRITO,COD_TIPO_VEHICULO,ETIQUETA_MEDIOAMBIENTAL,CLASIFICACIÃN_AMBIENTAL,CUOTA,TIPO_CARBURANTE,AÃO_MATRICULACIÃN
0,E,Ente sin Personalidad Art 35.4,0,C,--,Sin clasificaciÃ³n ambiental,73.0,Tipo carburante desconocido,2013
1,E,Ente sin Personalidad Art 35.4,0,C,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2006
2,E,Ente sin Personalidad Art 35.4,0,C,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2007
3,E,Ente sin Personalidad Art 35.4,0,C,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2009
4,E,Ente sin Personalidad Art 35.4,0,C,--,Sin clasificaciÃ³n ambiental,73.0,DIESEL,2015

In [125]:
cod_veh = df_padron['ETIQUETA_MEDIOAMBIENTAL'].unique()
tipo_veh = df_padron['CLASIFICACIÃ\x93N_AMBIENTAL'].unique()
for row in zip(cod_veh, tipo_veh):
    print(row)

('--', 'Sin clasificaciÃ³n ambiental')
('B', 'Etiqueta B')
('C', 'Etiqueta C')
(nan, 'Sin distintivo Ambiental')
('0', 'Cero Emisiones')
('E', 'ECO')

In [126]:
df_padron['ETIQUETA_MEDIOAMBIENTAL'] = df_padron['ETIQUETA_MEDIOAMBIENTAL'].replace({'--': 'A'})
df_padron['ETIQUETA_MEDIOAMBIENTAL'] = df_padron['ETIQUETA_MEDIOAMBIENTAL'].fillna('A')
df_padron.pop('CLASIFICACIÃ\x93N_AMBIENTAL').head()

0    Sin clasificaciÃ³n ambiental
1    Sin clasificaciÃ³n ambiental
2    Sin clasificaciÃ³n ambiental
3    Sin clasificaciÃ³n ambiental
4    Sin clasificaciÃ³n ambiental
Name: CLASIFICACIÃN_AMBIENTAL, dtype: object

In [127]:
df_padron['COD_TIPO_PERSONA'].unique()

array(['E', 'F', 'J', 'O'], dtype=object)

In [128]:
df_padron['COD_TIPO_PERSONA'] = df_padron['COD_TIPO_PERSONA'].replace({'E': 'S'})

Solo existe una fila con la O y no tiene una clasificación clara así que lo he tirado

In [129]:
df_padron = df_padron.drop(df_padron[df_padron['COD_TIPO_PERSONA'] == 'O'].index)

In [130]:
df_padron.pop('TIPO_PERSONA').head()

0    Ente sin Personalidad Art 35.4
1    Ente sin Personalidad Art 35.4
2    Ente sin Personalidad Art 35.4
3    Ente sin Personalidad Art 35.4
4    Ente sin Personalidad Art 35.4
Name: TIPO_PERSONA, dtype: object

In [131]:
df_padron[df_padron['COD_DISTRITO'] == 0]

,COD_TIPO_PERSONA,COD_DISTRITO,COD_TIPO_VEHICULO,ETIQUETA_MEDIOAMBIENTAL,CUOTA,TIPO_CARBURANTE,AÃO_MATRICULACIÃN
0,S,0,C,A,73.0,Tipo carburante desconocido,2013
1,S,0,C,A,73.0,DIESEL,2006
2,S,0,C,A,73.0,DIESEL,2007
3,S,0,C,A,73.0,DIESEL,2009
4,S,0,C,A,73.0,DIESEL,2015
...,...,...,...,...,...,...,...
156973,J,0,T,A,224.0,GASOLINA,1999
156974,J,0,T,A,224.0,GASOLINA,2005
156975,J,0,T,A,224.0,GASOLINA,2007
156976,J,0,T,A,224.0,GASOLINA,2018
156977,J,0,T,A,224.0,GASOLINA,2020

In [132]:
df_padron['TIPO_CARBURANTE'].unique()

array(['Tipo carburante desconocido', 'DIESEL', 'GASOLINA', 'OTROS',
       'HIBRIDO ENCHUFABLES PHEV', 'HÃ\x8dBRIDO',
       'GAS LICUADO DE PETROLEO', 'GAS NATURAL COMPRIMIDO',
       'ELÃ\x89CTRICO', 'ELECTRICOS RANGO EXTENDIDO',
       'GAS NATURAL LICUADO', 'ETANOL', 'BIOMETANO', 'BIODIESEL'],
      dtype=object)

In [133]:
df_padron['TIPO_CARBURANTE'] = df_padron['TIPO_CARBURANTE'].replace(
    {'HÃBRIDO': 'HIBRIDO', 'ELÃCTRICO': 'ELECTRICO', 'Tipo carburante desconocido': 'DESCONOCIDO'})

In [134]:
df_padron.rename(columns={'AÃ\x91O_MATRICULACIÃ\x93N': 'Y_MATRICULACION'}, inplace=True)

In [135]:
df_padron.head()

,COD_TIPO_PERSONA,COD_DISTRITO,COD_TIPO_VEHICULO,ETIQUETA_MEDIOAMBIENTAL,CUOTA,TIPO_CARBURANTE,Y_MATRICULACION
0,S,0,C,A,73.0,DESCONOCIDO,2013
1,S,0,C,A,73.0,DIESEL,2006
2,S,0,C,A,73.0,DIESEL,2007
3,S,0,C,A,73.0,DIESEL,2009
4,S,0,C,A,73.0,DIESEL,2015
...,...,...,...,...,...,...,...
180340,J,21,T,A,129.0,DIESEL,2001
180341,J,21,T,A,129.0,DIESEL,2003
180342,J,21,T,A,129.0,DIESEL,2005
180343,J,21,T,A,129.0,GASOLINA,2000
180344,J,21,T,A,224.0,GASOLINA,2003

Vamos a clusterizar los datos ya que hay muchos repetidos

In [136]:
df_padron.pop('CUOTA').head()

0    73.0
1    73.0
2    73.0
3    73.0
4    73.0
Name: CUOTA, dtype: float64

In [137]:
df_padron['OCURRENCIAS'] = 0

In [138]:
vehicles = df_padron.groupby(
    ['COD_TIPO_PERSONA', 'COD_DISTRITO', 'COD_TIPO_VEHICULO', 'ETIQUETA_MEDIOAMBIENTAL', 'TIPO_CARBURANTE',
     'Y_MATRICULACION']).count()

In [139]:
vehicles.reset_index(inplace=True)

In [140]:
vehicles['Y_MATRICULACION'] = vehicles['Y_MATRICULACION'].replace({'Desconocido':-1})

In [141]:
vehicles.head()

,COD_TIPO_PERSONA,COD_DISTRITO,COD_TIPO_VEHICULO,ETIQUETA_MEDIOAMBIENTAL,TIPO_CARBURANTE,Y_MATRICULACION,OCURRENCIAS
0,F,0,AU,A,DESCONOCIDO,-1,2
1,F,0,AU,A,DIESEL,1993,1
2,F,0,AU,A,DIESEL,2005,1
3,F,0,AU,B,DIESEL,2008,1
4,F,0,AU,B,DIESEL,2009,1

In [142]:
connector = MySQLConnector('localhost', 'root', 'root', 'TNT')
connector.connect()

Connected to MySQL database.

In [143]:
import uuid
i = 0
for index, row in vehicles.iterrows():
    i = i + 1
    try:
        id = uuid.uuid4()
        owner_type = row['COD_TIPO_PERSONA']
        district_code = row['COD_DISTRITO']
        vehicle_type = row['COD_TIPO_VEHICULO']
        sticker = row['ETIQUETA_MEDIOAMBIENTAL']
        fuel_type = row['TIPO_CARBURANTE']
        year_matriculation = row['Y_MATRICULACION']
        num_ocurrence = row['OCURRENCIAS']
    
        # Construir la sentencia SQL INSERT
        insert_query = f"INSERT INTO Vehicles (id, owner_type, district_code, vehicle_type, sticker, fuel_type, year_matriculation, num_ocurrence) VALUES ('{id}', '{owner_type}', {district_code}, '{vehicle_type}', '{sticker}', '{fuel_type}', {year_matriculation}, {num_ocurrence});"
        connector.execute_query(insert_query)
        
        print(f"Inserting row: {index}, item: {i}")
    except Exception as e:
        print(e)

Query executed successfully.
Inserting row: 0, item: 1
Query executed successfully.
Inserting row: 1, item: 2
Query executed successfully.
Inserting row: 2, item: 3
Query executed successfully.
Inserting row: 3, item: 4
Query executed successfully.
Inserting row: 4, item: 5
Query executed successfully.
Inserting row: 5, item: 6
Query executed successfully.
Inserting row: 6, item: 7
Query executed successfully.
Inserting row: 7, item: 8
Query executed successfully.
Inserting row: 8, item: 9
Query executed successfully.
Inserting row: 9, item: 10
Query executed successfully.
Inserting row: 10, item: 11
Query executed successfully.
Inserting row: 11, item: 12
Query executed successfully.
Inserting row: 12, item: 13
Query executed successfully.
Inserting row: 13, item: 14
Query executed successfully.
Inserting row: 14, item: 15
Query executed successfully.
Inserting row: 15, item: 16
Query executed successfully.
Inserting row: 16, item: 17
Query executed successfully.
Inserting row: 17, item: 18
Query executed successfully.
Inserting row: 18, item: 19
Query executed successfully.
Inserting row: 19, item: 20
Query executed successfully.
Inserting row: 20, item: 21
Query executed successfully.
Inserting row: 21, item: 22
Query executed successfully.
Inserting row: 22, item: 23
Query executed successfully.
Inserting row: 23, item: 24
Query executed successfully.
Inserting row: 24, item: 25
Query executed successfully.
Inserting row: 25, item: 26
Query executed successfully.
Inserting row: 26, item: 27
Query executed successfully.
Inserting row: 27, item: 28
Query executed successfully.
Inserting row: 28, item: 29
Query executed successfully.
Inserting row: 29, item: 30
Query executed successfully.
Inserting row: 30, item: 31
Query executed successfully.
Inserting row: 31, item: 32
Query executed successfully.
Inserting row: 32, item: 33
Query executed successfully.
Inserting row: 33, item: 34
Query executed successfully.
Inserting row: 34, item: 35
Query executed successfully.
Inserting row: 35, item: 36
Query executed successfully.
Inserting row: 36, item: 37
Query executed successfully.
Inserting row: 37, item: 38
Query executed successfully.
Inserting row: 38, item: 39
Query executed successfully.
Inserting row: 39, item: 40
Query executed successfully.
Inserting row: 40, item: 41
Query executed successfully.
Inserting row: 41, item: 42
Query executed successfully.
Inserting row: 42, item: 43
Query executed successfully.
Inserting row: 43, item: 44
Query executed successfully.
Inserting row: 44, item: 45
Query executed successfully.
Inserting row: 45, item: 46
Query executed successfully.
Inserting row: 46, item: 47
Query executed successfully.
Inserting row: 47, item: 48
Query executed successfully.
Inserting row: 48, item: 49
Query executed successfully.
Inserting row: 49, item: 50
Query executed successfully.
Inserting row: 50, item: 51
Query executed successfully.
Inserting row: 51, item: 52
Query executed successfully.
Inserting row: 52, item: 53
Query executed successfully.
Inserting row: 53, item: 54
Query executed successfully.
Inserting row: 54, item: 55
Query executed successfully.
Inserting row: 55, item: 56
Query executed successfully.
Inserting row: 56, item: 57
Query executed successfully.
Inserting row: 57, item: 58
Query executed successfully.
Inserting row: 58, item: 59
Query executed successfully.
Inserting row: 59, item: 60
Query executed successfully.
Inserting row: 60, item: 61
Query executed successfully.
Inserting row: 61, item: 62
Query executed successfully.
Inserting row: 62, item: 63
Query executed successfully.
Inserting row: 63, item: 64
Query executed successfully.
Inserting row: 64, item: 65
Query executed successfully.
Inserting row: 65, item: 66
Query executed successfully.
Inserting row: 66, item: 67
Query executed successfully.
Inserting row: 67, item: 68
Query executed successfully.
Inserting row: 68, item: 69
Query executed successfully.
Inserting row: 69, item: 70
Query executed successfully.
Inserting row: 70, item: 71
Query executed successfully.
Inserting row: 71, item: 72
Query executed successfully.
Inserting row: 72, item: 73
Query executed successfully.
Inserting row: 73, item: 74
Query executed successfully.
Inserting row: 74, item: 75
Query executed successfully.
Inserting row: 75, item: 76
Query executed successfully.
Inserting row: 76, item: 77
Query executed successfully.
Inserting row: 77, item: 78
Query executed successfully.
Inserting row: 78, item: 79
Query executed successfully.
Inserting row: 79, item: 80
Query executed successfully.
Inserting row: 80, item: 81
Query executed successfully.
Inserting row: 81, item: 82
Query executed successfully.
Inserting row: 82, item: 83
Query executed successfully.
Inserting row: 83, item: 84
Query executed successfully.
Inserting row: 84, item: 85
Query executed successfully.
Inserting row: 85, item: 86
Query executed successfully.
Inserting row: 86, item: 87
Query executed successfully.
Inserting row: 87, item: 88
Query executed successfully.
Inserting row: 88, item: 89
Query executed successfully.
Inserting row: 89, item: 90
Query executed successfully.
Inserting row: 90, item: 91
Query executed successfully.
Inserting row: 91, item: 92
Query executed successfully.
Inserting row: 92, item: 93
Query executed successfully.
Inserting row: 93, item: 94
Query executed successfully.
Inserting row: 94, item: 95
Query executed successfully.
Inserting row: 95, item: 96
Query executed successfully.
Inserting row: 96, item: 97
Query executed successfully.
Inserting row: 97, item: 98
Query executed successfully.
Inserting row: 98, item: 99
Query executed successfully.
Inserting row: 99, item: 100
Query executed successfully.
Inserting row: 100, item: 101
Query executed successfully.
Inserting row: 101, item: 102
Query executed successfully.
Inserting row: 102, item: 103
Query executed successfully.
Inserting row: 103, item: 104
Query executed successfully.
Inserting row: 104, item: 105
Query executed successfully.
Inserting row: 105, item: 106
Query executed successfully.
Inserting row: 106, item: 107
Query executed successfully.
Inserting row: 107, item: 108
Query executed successfully.
Inserting row: 108, item: 109
Query executed successfully.
Inserting row: 109, item: 110
Query executed successfully.
Inserting row: 110, item: 111
Query executed successfully.
Inserting row: 111, item: 112
Query executed successfully.
Inserting row: 112, item: 113
Query executed successfully.
Inserting row: 113, item: 114
Query executed successfully.
Inserting row: 114, item: 115
Query executed successfully.
Inserting row: 115, item: 116
Query executed successfully.
Inserting row: 116, item: 117
Query executed successfully.
Inserting row: 117, item: 118
Query executed successfully.
Inserting row: 118, item: 119
Query executed successfully.
Inserting row: 119, item: 120
Query executed successfully.
Inserting row: 120, item: 121
Query executed successfully.
Inserting row: 121, item: 122
Query executed successfully.
Inserting row: 122, item: 123
Query executed successfully.
Inserting row: 123, item: 124
Query executed successfully.
Inserting row: 124, item: 125
Query executed successfully.
Inserting row: 125, item: 126
Query executed successfully.
Inserting row: 126, item: 127
Query executed successfully.
Inserting row: 127, item: 128
Query executed successfully.
Inserting row: 128, item: 129
Query executed successfully.
Inserting row: 129, item: 130
Query executed successfully.
Inserting row: 130, item: 131
Query executed successfully.
Inserting row: 131, item: 132
Query executed successfully.
Inserting row: 132, item: 133
Query executed successfully.
Inserting row: 133, item: 134
Query executed successfully.
Inserting row: 134, item: 135
Query executed successfully.
Inserting row: 135, item: 136
Query executed successfully.
Inserting row: 136, item: 137
Query executed successfully.
Inserting row: 137, item: 138
Query executed successfully.
Inserting row: 138, item: 139
Query executed successfully.
Inserting row: 139, item: 140
Query executed successfully.
Inserting row: 140, item: 141
Query executed successfully.
Inserting row: 141, item: 142
Query executed successfully.
Inserting row: 142, item: 143
Query executed successfully.
Inserting row: 143, item: 144
Query executed successfully.
Inserting row: 144, item: 145
Query executed successfully.
Inserting row: 145, item: 146
Query executed successfully.
Inserting row: 146, item: 147
Query executed successfully.
Inserting row: 147, item: 148
Query executed successfully.
Inserting row: 148, item: 149
Query executed successfully.
Inserting row: 149, item: 150
Query executed successfully.
Inserting row: 150, item: 151
Query executed successfully.
Inserting row: 151, item: 152
Query executed successfully.
Inserting row: 152, item: 153
Query executed successfully.
Inserting row: 153, item: 154
Query executed successfully.
Inserting row: 154, item: 155
Query executed successfully.
Inserting row: 155, item: 156
Query executed successfully.
Inserting row: 156, item: 157
Query executed successfully.
Inserting row: 157, item: 158
Query executed successfully.
Inserting row: 158, item: 159
Query executed successfully.
Inserting row: 159, item: 160
Query executed successfully.
Inserting row: 160, item: 161
Query executed successfully.
Inserting row: 161, item: 162
Query executed successfully.
Inserting row: 162, item: 163
Query executed successfully.
Inserting row: 163, item: 164
Query executed successfully.
Inserting row: 164, item: 165
Query executed successfully.
Inserting row: 165, item: 166
Query executed successfully.
Inserting row: 166, item: 167
Query executed successfully.
Inserting row: 167, item: 168
Query executed successfully.
Inserting row: 168, item: 169
Query executed successfully.
Inserting row: 169, item: 170
Query executed successfully.
Inserting row: 170, item: 171
Query executed successfully.
Inserting row: 171, item: 172
Query executed successfully.
Inserting row: 172, item: 173
Query executed successfully.
Inserting row: 173, item: 174
Query executed successfully.
Inserting row: 174, item: 175
Query executed successfully.
Inserting row: 175, item: 176
Query executed successfully.
Inserting row: 176, item: 177
Query executed successfully.
Inserting row: 177, item: 178
Query executed successfully.
Inserting row: 178, item: 179
Query executed successfully.
Inserting row: 179, item: 180
Query executed successfully.
Inserting row: 180, item: 181
Query executed successfully.
Inserting row: 181, item: 182
Query executed successfully.
Inserting row: 182, item: 183
Query executed successfully.
Inserting row: 183, item: 184
Query executed successfully.
Inserting row: 184, item: 185
Query executed successfully.
Inserting row: 185, item: 186
Query executed successfully.
Inserting row: 186, item: 187
Query executed successfully.
Inserting row: 187, item: 188
Query executed successfully.
Inserting row: 188, item: 189
Query executed successfully.
Inserting row: 189, item: 190
Query executed successfully.
Inserting row: 190, item: 191
Query executed successfully.
Inserting row: 191, item: 192
Query executed successfully.
Inserting row: 192, item: 193
Query executed successfully.
Inserting row: 193, item: 194
Query executed successfully.
Inserting row: 194, item: 195
Query executed successfully.
Inserting row: 195, item: 196
Query executed successfully.
Inserting row: 196, item: 197
Query executed successfully.
Inserting row: 197, item: 198
Query executed successfully.
Inserting row: 198, item: 199
Query executed successfully.
Inserting row: 199, item: 200
Query executed successfully.
Inserting row: 200, item: 201
Query executed successfully.
Inserting row: 201, item: 202
Query executed successfully.
Inserting row: 202, item: 203
Query executed successfully.
Inserting row: 203, item: 204
Query executed successfully.
Inserting row: 204, item: 205
Query executed successfully.
Inserting row: 205, item: 206
Query executed successfully.
Inserting row: 206, item: 207
Query executed successfully.
Inserting row: 207, item: 208
Query executed successfully.
Inserting row: 208, item: 209
Query executed successfully.
Inserting row: 209, item: 210
Query executed successfully.
Inserting row: 210, item: 211
Query executed successfully.
Inserting row: 211, item: 212
Query executed successfully.
Inserting row: 212, item: 213
Query executed successfully.
Inserting row: 213, item: 214
Query executed successfully.
Inserting row: 214, item: 215
Query executed successfully.
Inserting row: 215, item: 216
Query executed successfully.
Inserting row: 216, item: 217
Query executed successfully.
Inserting row: 217, item: 218
Query executed successfully.
Inserting row: 218, item: 219
Query executed successfully.
Inserting row: 219, item: 220
Query executed successfully.
Inserting row: 220, item: 221
Query executed successfully.
Inserting row: 221, item: 222
Query executed successfully.
Inserting row: 222, item: 223
Query executed successfully.
Inserting row: 223, item: 224
Query executed successfully.
Inserting row: 224, item: 225
Query executed successfully.
Inserting row: 225, item: 226
Query executed successfully.
Inserting row: 226, item: 227
Query executed successfully.
Inserting row: 227, item: 228
Query executed successfully.
Inserting row: 228, item: 229
Query executed successfully.
Inserting row: 229, item: 230
Query executed successfully.
Inserting row: 230, item: 231
Query executed successfully.
Inserting row: 231, item: 232
Query executed successfully.
Inserting row: 232, item: 233
Query executed successfully.
Inserting row: 233, item: 234
Query executed successfully.
Inserting row: 234, item: 235
Query executed successfully.
Inserting row: 235, item: 236
Query executed successfully.
Inserting row: 236, item: 237
Query executed successfully.
Inserting row: 237, item: 238
Query executed successfully.
Inserting row: 238, item: 239
Query executed successfully.
Inserting row: 239, item: 240
Query executed successfully.
Inserting row: 240, item: 241
Query executed successfully.
Inserting row: 241, item: 242
Query executed successfully.
Inserting row: 242, item: 243
Query executed successfully.
Inserting row: 243, item: 244
Query executed successfully.
Inserting row: 244, item: 245
Query executed successfully.
Inserting row: 245, item: 246
Query executed successfully.
Inserting row: 246, item: 247
Query executed successfully.
Inserting row: 247, item: 248
Query executed successfully.
Inserting row: 248, item: 249
Query executed successfully.
Inserting row: 249, item: 250
Query executed successfully.
Inserting row: 250, item: 251
Query executed successfully.
Inserting row: 251, item: 252
Query executed successfully.
Inserting row: 252, item: 253
Query executed successfully.
Inserting row: 253, item: 254
Query executed successfully.
Inserting row: 254, item: 255
Query executed successfully.
Inserting row: 255, item: 256
Query executed successfully.
Inserting row: 256, item: 257
Query executed successfully.
Inserting row: 257, item: 258
Query executed successfully.
Inserting row: 258, item: 259
Query executed successfully.
Inserting row: 259, item: 260
Query executed successfully.
Inserting row: 260, item: 261
Query executed successfully.
Inserting row: 261, item: 262
Query executed successfully.
Inserting row: 262, item: 263
Query executed successfully.
Inserting row: 263, item: 264
Query executed successfully.
Inserting row: 264, item: 265
Query executed successfully.
Inserting row: 265, item: 266
Query executed successfully.
Inserting row: 266, item: 267
Query executed successfully.
Inserting row: 267, item: 268
Query executed successfully.
Inserting row: 268, item: 269
Query executed successfully.
Inserting row: 269, item: 270
Query executed successfully.
Inserting row: 270, item: 271
Query executed successfully.
Inserting row: 271, item: 272
Query executed successfully.
Inserting row: 272, item: 273
Query executed successfully.
Inserting row: 273, item: 274
Query executed successfully.
Inserting row: 274, item: 275
Query executed successfully.
Inserting row: 275, item: 276
Query executed successfully.
Inserting row: 276, item: 277
Query executed successfully.
Inserting row: 277, item: 278
Query executed successfully.
Inserting row: 278, item: 279
Query executed successfully.
Inserting row: 279, item: 280
Query executed successfully.
Inserting row: 280, item: 281
Query executed successfully.
Inserting row: 281, item: 282
Query executed successfully.
Inserting row: 282, item: 283
Query executed successfully.
Inserting row: 283, item: 284
Query executed successfully.
Inserting row: 284, item: 285
Query executed successfully.
Inserting row: 285, item: 286
Query executed successfully.
Inserting row: 286, item: 287
Query executed successfully.
Inserting row: 287, item: 288
Query executed successfully.
Inserting row: 288, item: 289
Query executed successfully.
Inserting row: 289, item: 290
Query executed successfully.
Inserting row: 290, item: 291
Query executed successfully.
Inserting row: 291, item: 292
Query executed successfully.
Inserting row: 292, item: 293
Query executed successfully.
Inserting row: 293, item: 294
Query executed successfully.
Inserting row: 294, item: 295
Query executed successfully.
Inserting row: 295, item: 296
Query executed successfully.
Inserting row: 296, item: 297
Query executed successfully.
Inserting row: 297, item: 298
Query executed successfully.
Inserting row: 298, item: 299
Query executed successfully.
Inserting row: 299, item: 300
Query executed successfully.
Inserting row: 300, item: 301
Query executed successfully.
Inserting row: 301, item: 302
Query executed successfully.
Inserting row: 302, item: 303
Query executed successfully.
Inserting row: 303, item: 304
Query executed successfully.
Inserting row: 304, item: 305
Query executed successfully.
Inserting row: 305, item: 306
Query executed successfully.
Inserting row: 306, item: 307
Query executed successfully.
Inserting row: 307, item: 308
Query executed successfully.
Inserting row: 308, item: 309
Query executed successfully.
Inserting row: 309, item: 310
Query executed successfully.
Inserting row: 310, item: 311
Query executed successfully.
Inserting row: 311, item: 312
Query executed successfully.
Inserting row: 312, item: 313
Query executed successfully.
Inserting row: 313, item: 314
Query executed successfully.
Inserting row: 314, item: 315
Query executed successfully.
Inserting row: 315, item: 316
Query executed successfully.
Inserting row: 316, item: 317
Query executed successfully.
Inserting row: 317, item: 318
Query executed successfully.
Inserting row: 318, item: 319
Query executed successfully.
Inserting row: 319, item: 320
Query executed successfully.
Inserting row: 320, item: 321
Query executed successfully.
Inserting row: 321, item: 322
Query executed successfully.
Inserting row: 322, item: 323
Query executed successfully.
Inserting row: 323, item: 324
Query executed successfully.
Inserting row: 324, item: 325
Query executed successfully.
Inserting row: 325, item: 326
Query executed successfully.
Inserting row: 326, item: 327
Query executed successfully.
Inserting row: 327, item: 328
Query executed successfully.
Inserting row: 328, item: 329
Query executed successfully.
Inserting row: 329, item: 330
Query executed successfully.
Inserting row: 330, item: 331
Query executed successfully.
Inserting row: 331, item: 332
Query executed successfully.
Inserting row: 332, item: 333
Query executed successfully.
Inserting row: 333, item: 334
Query executed successfully.
Inserting row: 334, item: 335
Query executed successfully.
Inserting row: 335, item: 336
Query executed successfully.
Inserting row: 336, item: 337
Query executed successfully.
Inserting row: 337, item: 338
Query executed successfully.
Inserting row: 338, item: 339
Query executed successfully.
Inserting row: 339, item: 340
Query executed successfully.
Inserting row: 340, item: 341
Query executed successfully.
Inserting row: 341, item: 342
Query executed successfully.

In [144]:
connector.close()

Connection closed.